[Unit]
Description=proxy-agent health check for profile %i
Requires=proxy-agent@%i.service
After=proxy-agent@%i.service

[Service]
Type=oneshot
ExecStart=/bin/bash @PREFIX@/bin/proxy-agent-health --profile %i
