[Unit]
Description=proxy-agent health check and recovery
After=proxy-agent.service
Requires=proxy-agent.service

[Service]
Type=oneshot
ExecStart=/bin/bash @PREFIX@/bin/proxy-agent-health
